.questionPage {
    background-color: #f1f1f1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
}

.questionPage-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.sno {
    background-color: lightgreen;
    padding: 0.5rem 1.5rem;
    border-radius: 50rem;
    color: white;
    font-size: 1.4rem;
}

.timer {
    background-color: rebeccapurple;
    padding: 0.5rem 1.5rem;
    border-radius: 50rem;
    color: white;
    font-size: 1.4rem;
}

.questionPage-question {
    font-size: 1.5rem;
    text-align: left;
    font-weight: 500;
}

.questionPage-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    background-color: white;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    padding: 1.5rem;
    font-size: 1.6rem;
    width: 80vw;
}

button {
    background-color: white;
    margin-bottom: 1.5rem;
    border-radius: 50px;
    background-color: rgb(193, 25, 193);
    padding: 0.8rem 2.5rem;
    font-size: 1.6rem;
    border: none;
    color: white;
}

.selected {
    background-color: greenyellow;
}




/* Result */
.result {
    background: linear-gradient(to right, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vw;
    height: 100vh;
}
.result-head{
    padding: 5rem 0;
    font-size: 4rem;
    color: white;
    font-weight: 600;

}


.result-user-name {
    padding: 2rem 0;
    font-size: 3rem;
    color: white;
}

.result-text {
    padding: 2rem 0;
    font-size: 3rem;
    color: white;
}

.result-button{
    margin-top: 5rem;
    font-size: 2rem;
}